:root{
	--mainColor:#e52424;
	--secondaryColor:#9a0606;

	--borderColor:#1d1520;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(229, 36, 36, 0.74);
	--previewShadow:#490909;


	--buttonColor:#000;


}
